<template>
    
    <section class="section main-section">

        <!--Modal-->
            <div class="modal" :class="{'active':modal}">
                <div class="modal-background --jb-modal-close"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title"></p>
                    </header>
                    <section class="modal-card-body">
                        <div class="row">
                            <div class="card-content">
                                <div class="field">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control icons-left">
                                                <input class="input" type="text" v-model="category_name">
                                                <span class="icon left"><i class="mdi mdi-account"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button --jb-modal-close" @click="Cerrar()">Cerrar</button>
                        <button class="button red --jb-modal-close" v-if="button==1" @click="PostCategoria()">Guardar</button>
                        <button class="button red --jb-modal-close" v-if="button==2">Actualizar</button>
                    </footer>
                </div>
            </div>
        <!--Cerrar Modal-->
        <div class="notification blue">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
            <div>
                <span class="icon"><i class="mdi mdi-buffer"></i></span>
                <b>Lista de Categorias</b>
            </div>
        </div>
        </div>
        <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Categorias
            </p>
            <button style=" border: 1px solid #eee2e2;
                            border-radius: 7px;
                            background: #00ff008a;
                            padding: 7px;"
            @click="Modal()">
                <i class="mdi mdi-register"></i> Nueva Categoria
            </button>
            <a class="card-header-icon" @click="listaCategorias()">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="category in categorias">
                <td data-label="Nombre">
                    {{ category.category_name }}
                </td>
                <td class="actions-cell">
                    <div class="buttons right nowrap">
                        <button class="button small green --jb-modal"  type="button" @click="DataRenter(category)">
                            <span class="icon"><i class="mdi mdi-eye"></i></span>
                        </button>
                        <button class="button small red --jb-modal"  type="button">
                            <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            </table>
            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                    <button type="button" class="button active">1</button>
                    <button type="button" class="button">2</button>
                    <button type="button" class="button">3</button>
                    </div>
                    <small>Page 1 of 3</small>
                </div>
            </div>
        </div>
        </div>

    </section>


</template>

<script>

    export default {

        data:function(){
            return {
                categorias:[],
                category_name:'',
                modal:0,
                button:'',
            }
        },

        methods:{
            listaCategorias(){
                let me = this;		
                axios.get('/cpanel/get_categorias').then(function(response){
                    me.categorias = response.data;
                    console.log(me.categorias);
                });
            },

            PostCategoria(){
                let me = this;		
                axios.post('/cpanel/post_categorias',{
                    'category_name': me.category_name
                }).then(function(response){
                    if (response.data.status==200) {
                        console.log('exito');
                        me.modal=0;
                        me.listaCategorias();
                    }
                });
            },

            Modal(){
                let me=this;
                me.modal=1;
                me.button=1;
                me.category_name='';
            },

            DataRenter(data=[]){
                let me=this;
                me.modal=1;
                me.button=2;
                console.log(data);
                me.category_name = data.category_name;
            },


            Cerrar(){
                this.modal=0;
            }

        },

        mounted() {
            let self = this
            self.listaCategorias();
        }
    }
</script>

<style>
 
</style>