<template>
    
    <section class="section main-section">

        <!--Modal-->
            <div class="modal" :class="{'active':modal}">
                <div class="modal-background --jb-modal-close"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Detalles del Renter</p>
                    </header>
                    <section class="modal-card-body">
                        <div class="row">
                            <div class="card-content">
                                <div class="field">
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control icons-left">
                                                <input class="input" type="text" v-model="nombre_renter" disabled>
                                                <span class="icon left"><i class="mdi mdi-account"></i></span>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control icons-left">
                                                <input class="input" type="text" v-model="city_name" disabled>
                                                <span class="icon left"><i class="mdi mdi-account"></i></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" v-for="data in array_img_hotel">
                                                <img :src="'img_hotel/'+data.collection_img_hotel_url" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <GmapMap
		                                        :center="coordenadas"
		                                        :zoom="16"
		                                        style="height: 591px"
		                                        icon="www.google.dk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">

		                                        <gmap-marker :position="{lat:coordenadas.lat, lng:coordenadas.lng}">
		                                        </gmap-marker>
                                            
		                                    </GmapMap>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button --jb-modal-close" @click="Cerrar()">Cerrar</button>
                        <button class="button red --jb-modal-close" @click="Autorizacion()">Autorizar</button>
                    </footer>
                </div>
            </div>
        <!--Cerrar Modal-->
        <div class="notification blue">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
            <div>
                <span class="icon"><i class="mdi mdi-buffer"></i></span>
                <b>Lista de Renters</b>
            </div>
        </div>
        </div>
        <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Renters
            </p>
            <a class="card-header-icon" @click="listaRenters()">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Tipo de Renter</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="renter in renters">
                <td data-label="Nombre">
                    {{ renter.user[0].name }}
                </td>
                <td data-label="Fecha">
                    {{renter.renters_date}}
                </td>
                <td data-label="Tipo de Renter">
                    {{renter.category[0].category_name }}
                </td>
                <td data-label="Estado">
                    <label v-if="renter.renters_status==0" style="background:red; border-radius:5px;padding:5px;color:#ffffff;">Pendiente</label>
                    <label v-if="renter.renters_status==1" style="background:green; border-radius:5px;padding:5px;color:#ffffff;">Autorizado</label>
                </td>
                <td class="actions-cell">
                    <div class="buttons right nowrap">
                        <button class="button small green --jb-modal"  type="button" @click="DataRenter(renter)">
                            <span class="icon"><i class="mdi mdi-eye"></i></span>
                        </button>
                        <button class="button small red --jb-modal"  type="button">
                            <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            </table>
            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                    <button type="button" class="button active">1</button>
                    <button type="button" class="button">2</button>
                    <button type="button" class="button">3</button>
                    </div>
                    <small>Page 1 of 3</small>
                </div>
            </div>
        </div>
        </div>

    </section>


</template>

<script>

    export default {

        data:function(){
            return {
                renters:[],
                nombre_renter:'',
                city_name:'',
                renters_id:'',
                modal:0,
                array_img_hotel:[],
                coordenadas:{ lat:0 ,  lng:0 },
            }
        },

        methods:{
            listaRenters(){
                let me = this;		
                axios.get('/cpanel/solicitud_renters').then(function(response){
                    me.renters = response.data;
                    console.log(me.renters);
                });
            },

            DataRenter(data=[]){
                let me=this;
                me.modal=1;
                console.log(data);
                axios.post('/cpanel/detalle_renter', {
                    'category_id':data.category_id,
                    'renters_id':data.renters_id
                }).then(function(response){
                    console.log(response.data);
                    me.nombre_renter = response.data[0].hotel_name;
                    me.city_name = response.data[0].city[0].city_name;
                    me.array_img_hotel = response.data[0].img_hotel;
                    me.coordenadas = { lat:parseFloat(response.data[0].hotel_lat),  lng:parseFloat(response.data[0].hotel_lng) };
                });
            },

            Autorizacion(){
                let me = this;		
                axios.post('/cpanel/autorizacion_renters',{
                    'renters_id': me.renters_id
                }).then(function(response){
                    console.log(response.data);
                    me.modal=0;
                    me.listaRenters();
                });
            },

            Cerrar(){
                this.modal=0;
            }

        },

        mounted() {
            let self = this
            self.listaRenters();
        }
    }
</script>

<style>
 
</style>