<template>

    <div class="container-fluid p-0">
        <div class="row">
                <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content" style="padding: 3%;">
                        <div class="col-md-12" style="margin:-2%; float: left; left: 66%;">
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Ayuda</span>
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Guarda y sal</span>
                        </div>
                        <div class="user-login-form" >
                            <div class="col-md-12" style="height: 520px;overflow: hidden;overflow-y: scroll;margin-top: 9%;">

                                <div class="row mt-5 justify-content-center">
                                    <div class="col-md-12">
                                        <span>¿Tienes alguna comodidad destacada?</span>
                                    </div>
                                    <div class="col-md-12" align="center" style="margin-top: 4%;">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12" v-for="(data, key) in section_1" :key="key" style="margin: 15px;" align="center">
                                                    <div class="card hover-card" :class="{ 'selected': SelectedSection1(key) }" style="padding: 20px;"  @click="captureSection1(key)">
                                                        <div class="card-body">
                                                            <i></i>
                                                            <div>{{ data.texto }}</div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                                <div class="row mt-5 justify-content-center">
                                    <div class="col-md-12">
                                        <span>Estos son los servicios preferidos por los huéspedes. ¿Los tienes?</span>
                                    </div>
                                    <div class="col-md-12" align="center" style="margin-top: 4%;">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12" v-for="(data, key) in section_2" :key="key" style="margin: 15px;" align="center">
                                                    <div class="card hover-card" :class="{ 'selected': SelectedSection2(key) }" style="padding: 20px;"  @click="captureSection2(key)">
                                                        <div class="card-body">
                                                            <i></i>
                                                            <div>{{ data.texto }}</div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                                <div class="row mt-5 justify-content-center">
                                    <div class="col-md-12">
                                        <span>¿Cuentas con alguno de estos elementos de seguridad?</span>
                                    </div>
                                    <div class="col-md-12" align="center" style="margin-top: 4%;">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12" v-for="(data, key) in section_3" :key="key" style="margin: 15px;" align="center">
                                                    <div class="card hover-card" :class="{ 'selected': SelectedSection3(key) }" style="padding: 20px;"  @click="captureSection3(key)">
                                                        <div class="card-body">
                                                            <i></i>
                                                            <div>{{ data.texto }}</div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            
                            </div>

                            <div class="col-md-12" style="margin-top: 5%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                        <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" @click="Photos()">Siguiente</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</template>

<script>
export default {
    data:function(){
        return{

            section_1:[
               {
                   id:1, 
                   texto: 'Piscina' 
                },
               {
                   id:2, 
                   texto: 'Jacuzzi' 
                },
               {
                   id:3, 
                   texto: 'Terraza' 
                },
               {
                   id:4, 
                   texto: 'Parrilla' 
                },
               {
                   id:5, 
                   texto: 'Lugar para hacer fogata' 
                },
               {
                   id:6, 
                   texto: 'Mesa de billar' 
                },
               {
                   id:7, 
                   texto: 'Chumenea inferior' 
                },
               {
                   id:8, 
                   texto: 'Zona de comida al aire libre' 
                },
               {
                   id:9, 
                   texto: 'Equipo para hacer ejercicio' 
                },
            ],
            section_2:[
                {
                   id:1, 
                   texto: 'Wifi' 
                },
               {
                   id:2, 
                   texto: 'TV' 
                },
               {
                   id:3, 
                   texto: 'Cocina' 
                },
               {
                   id:4, 
                   texto: 'Lavadora' 
                },
               {
                   id:5, 
                   texto: 'Estacionamiento gratuito en las instalaciones' 
                },
               {
                   id:6, 
                   texto: 'Estacionamiento de pago en las instalaciones' 
                },
               {
                   id:7, 
                   texto: 'Aire acondicionado' 
                },
               {
                   id:8, 
                   texto: 'Zona de trabajo' 
                },
               {
                   id:9, 
                   texto: 'Ducha exterior' 
                },
            ],
            section_3:[
                {
                   id:1, 
                   texto: 'Detector de humo' 
                },
                {
                   id:2, 
                   texto: 'Botiquín de primeros auxilios' 
                },
                {
                   id:3, 
                   texto: 'Detector de monóxido de carbono' 
                },
                {
                   id:4, 
                   texto: 'Extintor de incendios' 
                },

            ],

            toggled: {},

            comodidades:
                {
                    section1:[],
                    section2:[],
                    section3:[],
                },
            
        }
    },

    methods:{
        Photos(){
            this.$router.push({
				name: "/inmuebles/photos"
			});
        },

        captureSection1(key){
          if (this.SelectedSection1(key)) {
            const index = this.comodidades.section1.findIndex(x => x == key);
            this.comodidades.section1.splice(index, 1);
            localStorage.section1 = JSON.stringify(this.comodidades.section1);
          } else {
            this.comodidades.section1.push(key);
            localStorage.section1 = JSON.stringify(this.comodidades.section1);
          }
        },

        SelectedSection1(key){
            return this.comodidades.section1.includes(key);
        },

        captureSection2(key){
          if (this.SelectedSection2(key)) {
            const index = this.comodidades.section2.findIndex(x => x == key);
            this.comodidades.section2.splice(index, 1);
            localStorage.section2 = JSON.stringify(this.comodidades.section2);
          } else {
            this.comodidades.section2.push(key);
            localStorage.section2 = JSON.stringify(this.comodidades.section2);
          }

        },

        SelectedSection2(key){
            return this.comodidades.section2.includes(key);
        },

        captureSection3(key){
          if (this.SelectedSection3(key)) {
            const index = this.comodidades.section1.findIndex(x => x == key);
            this.comodidades.section1.splice(index, 1);
            localStorage.section3 = JSON.stringify(this.comodidades.section1);
          } else {
            this.comodidades.section1.push(key);
            localStorage.section3 = JSON.stringify(this.comodidades.section1);
          }
        },

        SelectedSection3(key){
            return this.comodidades.section1.includes(key);
        },
    },
}
</script>

<style>
    .selected{
        border-radius: 8px;
        border: 1px solid;
    }

    .hover-card:hover{
        border-radius: 8px;
        border: 1px solid;
    }
</style>