<template>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content" style="padding: 6%;">
                        <div class="col-md-12" style="margin:-2%; float: left; left: 66%;">
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Ayuda</span>
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Guarda y sal</span>
                        </div>
                            <div v-if="aspecto_view==null" class="col-md-12" align="center" style="height: 435px;overflow: hidden scroll;margin-top: 6%;">
                                    <div class="col-lg-7 col-md-12" v-for="(data, key)  in aspectos" :key="key" style="margin: 15px;" align="center" >
                                            <div class="card" :class="{'selected' : SelectedAspecto(key) }"  style="padding: 20px;"  @click="captureAspecto(key)" >
                                                <div class="card-body">
                                                    {{ data.title }}
                                                </div>
                                            </div>
                                    </div>
                            </div>

                            <div v-if="descripcion_view" class="col-md-12">
                                <div class="row mt-5 justify-content-center">
                                    <div  align="center">
                                        <label style="font-size: 25px;float: left;"> Escribe una descripcion </label> <br>
                                        <textarea style="font-size: 44px;
                                                        border-radius: 12px;
                                                        border: 1px solid;" 
                                                placeholder="Este lugar unico tiene su propio estilo" 
                                                maxlength="500" 
                                                v-model="bedrooms_description" 
                                                ></textarea><br>
                                        <span style="float: left;">{{ bedrooms_description.length }}/ 500</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12" style="margin-top: 14%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                    <button v-if="descripcion_view==null" type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" @click="Description()">
                                                Siguiente
                                    </button> 
                                    <button v-if="descripcion_view" type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" @click="Price()">
                                                Siguiente
                                    </button>                                  
                            </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>

export default{



    data:function(){
        return {
            aspecto_view:null,
            descripcion_view:null,
            lista_aspectos:[],
            aspecto_id:'',
            bedrooms_description:'',
            aspectos: [
                { 
                    aspecto_id: 1,
                    title: 'Tranquilo'
                },
                { 
                    aspecto_id: 2,
                    title: 'Excepcional'
                },
                { 
                    aspecto_id: 3,
                    title: 'Ideal para Familias'
                },
                { 
                    aspecto_id: 4,
                    title: 'Elegante'
                },
                { 
                    aspecto_id: 5,
                    title: 'Central'
                },
                { 
                    aspecto_id: 6,
                    title: 'Espacioso'
                },
            ]
        }
    },

    watch:{
        bedrooms_description: function(value){
            localStorage.descripcion = JSON.stringify(value);
        }
    },

    methods:{

        Price(){
            this.$router.push({
				name: "/inmuebles/price"
			});
        },
        
        Description(){
            this.aspecto_view=1;
            this.descripcion_view=1;
        },


        captureAspecto(key){
            if (this.SelectedAspecto(key)) {
                const index = this.lista_aspectos.findIndex(x => x == key);
                this.lista_aspectos.splice(index, 1);
                localStorage.lista_aspectos = JSON.stringify(this.lista_aspectos);
            } else {
                this.lista_aspectos.push(key);
                localStorage.lista_aspectos = JSON.stringify(this.lista_aspectos);
            }
        },

        SelectedAspecto(key){
            return this.lista_aspectos.includes(key);
        },
 
    }
}
</script>

<style>
    .selected{
        border-radius: 8px;
        border: 1px solid;
    }
</style>