<template>
    <div class="container-fluid p-0">
        <div class="row">
                <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content">
                        <div class="user-login-form">
                            <div class="row mt-5 justify-content-center">
                                <div class="col-md-12" style="margin:-2%; float: left; left: 66%;">
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Ayuda</span>
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Guarda y sal</span>
                                </div>

                                <div class="col-md-12" style="margin-top: 15%;">

                                    <div class="row">
                                        <div class="col-md-6" style="font-size: 30px !important;line-height: 35px !important;">Huéspedes</div>
                                        <div class="col-md-3">
                                            <button type="button" @click="IncrementHuesped()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    >+</button> 
                                                {{ huesped }} 
                                            <button type="button" @click="DecrementHuesped()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    :disabled="huesped==1">-</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 35px;">
                                        <div class="col-md-6" style="font-size: 30px !important;line-height: 35px !important;">Cama</div>
                                        <div class="col-md-3">
                                            <button type="button" @click="IncrementCamas()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    >+</button> 
                                                {{ camas }} 
                                            <button type="button" @click="DecrementCamas()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    :disabled="camas==1">-</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 35px;">
                                        <div class="col-md-6" style="font-size: 30px !important;line-height: 35px !important;">Habitaciones</div>
                                        <div class="col-md-3">
                                            <button type="button" @click="IncrementHabitaciones()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    >+</button> 
                                                {{ habitaciones }} 
                                            <button type="button" @click="DecrementHabitaciones()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    :disabled="habitaciones==1">-</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 35px;">
                                        <div class="col-md-6" style="font-size: 30px !important;line-height: 35px !important;">Baños</div>
                                        <div class="col-md-3">
                                            <button type="button" @click="IncrementBaños()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    >+</button> 
                                                {{ baños }} 
                                            <button type="button" @click="DecrementBaños()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    :disabled="baños==1">-</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 35px;">
                                        <div class="col-md-6" style="font-size: 19px !important;line-height: 35px !important;">¿Alguno de estos baños es privado?</div>
                                        <br>
                                        <div class="col-md-6">
                                            Si<input type="radio" v-model="radio" :value="1">
                                            <br>
                                            No, todos son compartidos<input type="radio" v-model="radio" :value="0">
                                            <br>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12" style="margin-top:7%;">
                                    <div style="border-top: 1px solid #aaa5a5;
                                                height: 2px;
                                                max-width: 100%;
                                                padding: 0px;
                                                margin: 20px auto 0px;"></div>
                                </div>


                                <div class="col-md-12" style="margin-top: 1%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                    <template v-if="radio || radio==0">
                                        <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;"  @click="Amenities()">Siguiente</button>
                                    </template>
                                    <template v-else>
                                        <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30 / 32%);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" disabled>Siguiente</button>
                                    </template>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>

export default{
    data:function(){
        return{
            huesped:1,
            camas:1,
            habitaciones:1,
            baños:1,
            radio:'',
        }
    },

    methods:{

            Amenities(){
                this.$router.push({
						name: "/inmuebles/amenities"
				});
            },

            IncrementHuesped(){
                this.huesped = this.huesped + 1;
                localStorage.huesped = this.huesped;
            },

            DecrementHuesped(){
                this.huesped = this.huesped - 1;
                localStorage.huesped = this.huesped;
            },

            IncrementCamas(){
                this.camas = this.camas + 1;
                localStorage.camas = this.camas;
            },

            DecrementCamas(){
                this.camas = this.camas - 1;
                localStorage.camas = this.camas;
            },

            IncrementHabitaciones(){
                this.habitaciones = this.habitaciones + 1;
                localStorage.habitaciones = this.habitaciones;
            },

            DecrementHabitaciones(){
                this.habitaciones = this.habitaciones - 1;
                localStorage.habitaciones = this.habitaciones;
            },

            IncrementBaños(){
                this.baños = this.baños + 0.5;
                localStorage.baños = this.baños;
            },

            DecrementBaños(){
                this.baños = this.baños - 0.5;
                localStorage.baños = this.baños;
            },
    },

    mounted() { 
        localStorage.huesped = this.huesped;        
        localStorage.camas = this.camas;
        localStorage.habitaciones = this.habitaciones;
        localStorage.baños = this.baños;
    }

}
</script>
