<template>
    <div class="container-fluid p-0">
        <div class="row">
                <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content">
                        <div class="user-login-form">
                            <div class="row mt-5 justify-content-center">
                                <div class="col-md-12" style="margin:-2%; float: left; left: 66%;">
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Ayuda</span>
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Guarda y sal</span>
                                </div>

                                <div class="col-md-12" style="margin-top: 15%;">

                                    <div class="row">
                                        <div class="col-md-12" style="font-size: 27px !important;line-height: 35px !important;">
                                            De las siguientes opciones ¿ hay alguna en tu espacio ?
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 35px;">
                                        <div class="col-md-8" style="font-size: 19px !important;line-height: 35px !important;">Cámaras de seguridad</div>
                                        <br>
                                        <div class="col-md-4">
                                            <input type="checkbox" v-model="checkedNames" :value="1">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 35px;">
                                        <div class="col-md-8" style="font-size: 19px !important;line-height: 35px !important;">Armas</div>
                                        <br>
                                        <div class="col-md-4">
                                            <input type="checkbox" v-model="checkedNames" :value="2">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 35px;">
                                        <div class="col-md-8" style="font-size: 19px !important;line-height: 35px !important;">Animales peligrosos</div>
                                        <br>
                                        <div class="col-md-4">
                                            <input type="checkbox" v-model="checkedNames" :value="3">
                                            <br>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 35px;">
                                        <div class="col-md-12" style="font-size: 27px !important;line-height: 35px !important;">
                                            Debes tener en cuenta lo siguiente 
                                        </div><br>
                                        <p style="font-size: 16px !important;line-height: 24px !important;
                                                padding-bottom: 32px !important;
                                                animation-duration: 1000ms !important;
                                                animation-iteration-count: 1 !important;
                                                animation-fill-mode: both !important;
                                                animation-name: keyframe_1mcv7ov !important;">
                                            Asegúrate de que cumples con la legislación local y de revisar la Política contra la Discriminación de Airbnb, así como la relativa a las tarifas para anfitriones y huéspedes. Podrás modificar tu política de cancelación una vez que hayas publicado tu anuncio.
                                        </p>
                                    </div>

                                </div>

                                <div class="col-md-12" style="margin-top:7%;">
                                    <div style="border-top: 1px solid #aaa5a5;
                                                height: 2px;
                                                max-width: 100%;
                                                padding: 0px;
                                                margin: 20px auto 0px;"></div>
                                </div>


                                <div class="col-md-12" style="margin-top: 1%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                    <template v-if="checkedNames">
                                        <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;"  @click="Finalizar()">Siguiente</button>
                                    </template>
                                    <template v-else>
                                        <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30 / 32%);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" disabled>Siguiente</button>
                                    </template>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>

export default{
    data:function(){
        return{
            checkedNames: [],
            lista:'',
            comodidades:[],
        }
    },

    watch: {
        checkedNames() {
            localStorage.checkedNames = JSON.stringify(this.checkedNames);
        },       
        
    },

    methods:{

            Previsualizacion(){
                this.$router.push({
						name: "/inmuebles/preview"
				});
            },

            Finalizar(){
                let me = this;
                axios.post('/inmuebles/register',{        
                    'inmuebles_id': localStorage.inmuebles_id,            
                    'inmuebles_description': localStorage.descripcion,
                    'inmuebles_price': localStorage.price,
                    'inmuebles_name':localStorage.title,
                    'inmuebles_city':localStorage.city,
                }).then(function(response){
                    me.Previsualizacion();
                    console.log(response.data);              
                });
            }
           
    },
}
</script>
