<template>

    <div class="container-fluid p-0">
        <div class="row">
                <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content">
                        <div class="user-login-form">
                            <div class="row">

                                <!--Inicio del modal agregar/actualizar-->
                                    <div  class="permiso" :class="{'mostrar' : permiso}" style="overflow-y: auto;padding-top: 50px;">
                                        <div class="permiso-content" style="width: 552px !important; background: rgb(255, 255, 255) !important;border-radius: 11px;">
                                            <div class="modal-header" align="center">
                                               <label >Confirma tu dirección</label> 
                                            </div>
                                            <div class="modal-body">                                                
                                                <div class="row" style="border-radius: 12px;border: 1px solid;">
                                                    <input type="text" v-model="calle" class="form-control" style="border-radius: 12px 9px 0px 0px;">
                                                    <input type="text" v-model="departamento"  placeholder="Departamento, puerta, etc (Opcional)" class="form-control">
                                                    <input type="text" v-model="city[1]"   placeholder="Ciudad" class="form-control">
                                                    <input type="text" v-model="provincia[1]" placeholder="Departamento/Estado/Provincia/Región (Opcional)" class="form-control">
                                                    <input type="text" v-model="postal_code[1]" placeholder="Código postal" class="form-control">
                                                    <select class="form-control" style="border-radius: 0px 0px 12px 9px ;">
                                                        <option v-for="data in countries">
                                                            {{ data.country_name }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>            
                                            <div class="modal-footer" style="float:left;">
                                                <button type="button" @click="Cerrar()"  style="background: rgba(14, 11, 11, 0.93);
                                                                                        color: rgb(243, 236, 236);
                                                                                        border: 1px solid #222121;
                                                                                        border-radius: 6px;
                                                                                        padding: 6px;">Se ve bien</button>
                                            </div>
                                    </div>
                                    </div>
                                <!--Fin del modal-->
                                
                                <gmap-autocomplete
                                    class="form-control my-0 py-1"
                                    @place_changed="setPlace"
                                    style="position: absolute;
                                            z-index: 999;
                                            top: 74px;
                                            width: 448px;
                                            float: right;
                                            right: 119px;
                                            border-radius: 26px;
                                            box-shadow: -1px 2px 7px 3px #00000047;">
                                </gmap-autocomplete>
                                <GmapMap
                                    :center="coordenadas"
                                    :zoom="16"
                                    style="height: 591px;width: 100%;"
                                    icon="www.google.dk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">

                                    <gmap-marker :position="{lat:coordenadas.lat, lng:coordenadas.lng}">
                                    </gmap-marker>
                                                        
                                </GmapMap>
                                <div class="col-md-12" style="margin-top:1%;">
                                    <div style="border-top: 1px solid #aaa5a5;
                                                height: 2px;
                                                max-width: 100%;
                                                padding: 0px;
                                                margin: 20px auto 0px;"></div>
                                </div>
                                <div class="col-md-12" style="margin-top: 1%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                    <template v-if="siguiente">
                                        <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;"  @click="huesped()">Siguiente</button>
                                    </template>
                                    <template v-else>
                                        <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30 / 32%);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" disabled>Siguiente</button>
                                    </template>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</template>

<script>
import VueGoogleAutocomplete from 'vue-google-autocomplete';

export default {

    components:{
        VueGoogleAutocomplete
    },

    data:function(){
        return {
            coordenadas:{ lat:0 ,  lng:0 },
            currentePlace:'',
            permiso:0,
            siguiente:null,
            countries:[],
            calle:'',
            city:'',
            departamento:'',
            provincia:'',
            postal_code:'',
        }
    },

    methods:{

            huesped(){
                this.$router.push({
					name: "/inmuebles/floor-plan"
				});
            },

            Cerrar(){
                this.permiso=0;
                this.siguiente=1;
            },

            setPlace(place) {
                this.currentePlace = place;

                var address = this.currentePlace.adr_address;
                var locality = address.split(',');
                var array = locality[1].split('</span>');

                this.calle = this.currentePlace.name;
                this.city = array[0].split('<span class=\"locality\">');
                this.provincia = array[0].split('<span class=\"locality\">');
                this.postal_code = array[1].split('<span class=\"postal-code\">');
                this.hotel_lat = place.geometry.location.lat();
                this.hotel_lng = place.geometry.location.lng();
                this.coordenadas = { lat: this.hotel_lat,  lng: this.hotel_lng };                
                this.permiso=1;
                /**LocalStorage-Location**/
                localStorage.lat = this.coordenadas.lat;
                localStorage.lng = this.coordenadas.lng;
                localStorage.city = this.city;
                console.log(array);
                
            },   
            
            DataCountry(){
                let me = this;		
                axios.get('/inmuebles/data_country').then(function(response){
                    me.countries = response.data;
                });
            },
    },

    mounted() {
        let self = this         
        self.DataCountry();
    }
}
</script>


<style>
  
    .permiso.mostrar {
        background-color: rgb(0 0 0 / 0%);
        opacity: 1;
        visibility: visible;
    }
    .permiso {
        align-items: flex-start;
        background-color: #fff;
        display: flex !important;
        height: 82vh;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        visibility: hidden;
        width: 50%;
        transition: all 0.40s cubic-bezier(0.39, 0.575, 0.565, 1);
        z-index: 5000;
        left: 50%;
      }

      .permiso.mostrar .permiso-content {
          opacity: 1;
          transform: scale(1.1);
          visibility: visible;
      }
      .permiso .permiso-content {
          background-color: #fff;
          border-radius: 3px;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          margin-top: 50px;
          opacity: 0;
          padding: 12px;
          transform: scale(1);
          transition: all .40s cubic-bezier(0.39, 0.575, 0.565, 1);
          visibility: hidden;
      }


</style>
