<template>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content" style="padding: 6%;">
                        <div class="col-md-12" style="margin:-2%; float: left; left: 66%;">
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Ayuda</span>
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Guarda y sal</span>
                        </div>
                        <div class="user-login-form" style="margin-top: 15%;">
                            <div class="col-md-12">
                                <div class="row mt-5 justify-content-center" style="border-width: 1px;height: 371px;overflow: hidden scroll;">
                                    <div  align="center">
                                        <div style="font-size: 29px;">Suba primero su foto portada</div>
                                        <div>Luego agregar las fotos de su renter</div>
                                        
                                        <div style="border-style: dashed;">
                                            <vue2Dropzone ref="collection_img_inmuebles_url" id="dropzone"
                                                    v-on:vdropzone-max-files-exceeded="maxFilesAlert"
                                                    :options="dropzoneOptions">
                                            </vue2Dropzone>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <button @click="UploadImage()">
                                            Subir
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12" style="margin-top: 14%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                    <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" @click="TitleRenter()">
                                                Siguiente
                                    </button>                               
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>

import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
export default{

    components: {
       vue2Dropzone
    },

    data:function(){
        return {
            collection_img_inmueble_url:'',

            dropzoneOptions: {
                        url: 'empresa/producto',
                        thumbnailWidth: 150,
                        maxFilesize: 1.5,
                        addRemoveLinks : true,
                        autoProcessQueue:false,
                        headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
                        maxFiles:6,
                        uploadMultiple: true,
            },

        }
    },

    methods:{

        TitleRenter(){
                this.$router.push({
						name: "/inmuebles/title"
				});
        },

        maxFilesAlert(file){
                Swal.fire({
                    title: 'No permitido',
                    text: 'Solo se permiten 6 archivos',
                    type: 'error',
                    confirmButtonText: 'OK'
                })
               this.$refs.collection_img_inmuebles_url.removeFile(file);
        },

        UploadImage(){
                this.$refs.collection_img_inmuebles_url.processQueue();
                let images  = this.$refs.collection_img_inmuebles_url.getAcceptedFiles();
                let  data = new FormData()

                for( let i = 0; i < images.length; i++ ){
                    let file = images[i];
                    data.append('collection_img_inmuebles_url[' + i + ']', file);
                }                
                data.append('subcategory_id', localStorage.subcategory_id);
                data.append('inmuebles_lat', localStorage.lat);
                data.append('inmuebles_lng', localStorage.lng);
                data.append('inmuebles_huespedes', localStorage.huesped );
                data.append('inmuebles_cama', localStorage.camas);
                data.append('inmuebles_habitaciones', localStorage.habitaciones);
                data.append('inmuebles_baños', localStorage.baños);
                data.append('inmuebles_modcons', localStorage.section1.concat(localStorage.section2, localStorage.section3));
                axios.post('/inmuebles/inmueble_image', data,{ headers: {'Content-Type': 'multipart/form-data'}})
                    .then(response => {
                        if (response.data.status==='success') {
                            Swal.fire({
                              title: response.data.message,
                              text: 'Fotos Subidas',
                              type: 'success',
                              confirmButtonText: 'OK'
                            });

                            localStorage.inmuebles_id = response.data.inmuebles_id;
                        }else{
                            Swal.fire({
                              title: response.data.message,
                              text: 'Error al registrar inmueble',
                              type: 'success',
                              confirmButtonText: 'OK'
                            })
                        };
                }).catch(function (error) {
                    console.log(error);
                });
        }

    }
}
</script>
