<template>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content" style="padding: 6%;">
                        <div class="col-md-12" style="margin:-2%; float: left; left: 66%;">
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Ayuda</span>
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Guarda y sal</span>
                        </div>
                        <div class="user-login-form" style="margin-top: 15%;">
                            <div class="col-md-12">
                                <div class="row mt-5 justify-content-center">
                                    <div  class="form-group">
                                        <button type="button" @click="DecrementPrice()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    :disabled="price==42 || price==0">-</button>
                                          
                                        <input type="text" v-model="price" class="form-control">
                                        <button type="button" @click="IncrementPrice()" style="padding: 4px;
                                                                                                    border: 1px solid #796f6f;
                                                                                                    border-radius: 69px;
                                                                                                    width: 35px;
                                                                                                    margin: 7px;"
                                                                                                    >+</button>                                                 
                                            
                                    </div>      
                                                      
                                </div><br>      
                                <div class="row mt-5 justify-content-center">
                                   <p> <span>Ingresa un precio base entre S/42  y S/41,221 .</span> </p>
                                </div>
                            </div>
                            
                            <div class="col-md-12" style="margin-top: 14%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                    <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" @click="Legal()">
                                                Siguiente
                                    </button>                               
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>

export default{



    data:function(){
        return {
            price:0.0,
            message:'',
        }
    },

    methods:{
        
        Legal(){
                this.$router.push({
					name: "/inmuebles/legal"
				});
        },

        IncrementPrice(){
            if (this.price == 0.0) {
                this.price = this.price + 42;
                localStorage.price = this.price;
            }else{
                this.price = this.price + 5;
                localStorage.price = this.price;
            }
            
        },

        DecrementPrice(){
            this.price = this.price - 5;
            localStorage.price = this.price;
        },

 
    }
}
</script>
