<template>
    <div class="container-fluid p-0">
        <div class="row">
                <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content">
                        <div class="user-login-form">
                            <div class="row mt-5 justify-content-center">
                                <div class="col-md-12" style="margin:-2%; float: left; left: 66%;">
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Ayuda</span>
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Guarda y sal</span>
                                </div>
                                <div class="col-md-12" align="center" style="height: 435px;overflow: hidden scroll;margin-top: 6%;">
                                    <div class="col-lg-7 col-md-12" v-for="data in subcategories" style="margin: 15px;" align="center">
                                            <div class="card hover-card" :class="{'selected' : data.subcategory_id == subcategory_id}" style="padding: 20px;"  @click="captureSubCategory(data.subcategory_id)">
                                                <div class="card-body">
                                                    {{ data.subcategory_name }}
                                                </div>
                                            </div>
                                    </div>
                                </div>                                    
                                <div class="col-md-12" style="margin-top:7%;">
                                    <div style="border-top: 1px solid #aaa5a5;
                                                height: 2px;
                                                max-width: 100%;
                                                padding: 0px;
                                                margin: 20px auto 0px;"></div>
                                </div>
                                <div class="col-md-12" style="margin-top:1%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                    <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" @click="mapeo()">
                                        Siguiente
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>


    export default {

        data:function(){
            return {
                subcategories:[],
                subcategory_id:'',
            }
        },

        methods:{

            mapeo(){
                this.$router.push({
					name: "/inmuebles/location"
				});
            },

            captureSubCategory(subcategory_id){
                let me = this;
                me.subcategory_id = subcategory_id;
                /**LocalStorage-SubCategory**/
                localStorage.subcategory_id = me.subcategory_id;
            },

            DataSubCategories(){
                let me = this;		
                axios.post('/inmuebles/data_subcategories',{ 'category_id' : localStorage.category_id }).then(function(response){
                    me.subcategories = response.data;                 
                });
            },


        },

        mounted() {
            let self = this            
            self.DataSubCategories();
            if (localStorage.subcategory_id) {
                this.subcategory_id = localStorage.subcategory_id;
            }
        }
    }
</script>

<style>
    .selected{
        border-radius: 8px;
        border: 1px solid;
    }

    .hover-card:hover{
        border-radius: 8px;
        border: 1px solid;
    }
</style>