<template>
    <div class="container-fluid p-0">
        <div class="row">
                <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content" style="padding: 3%;">
                        <div class="col-md-12" style="float: left; left: 66%;">
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Ayuda</span>
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Guarda y sal</span>
                        </div>
                        <div class="user-login-form" >
                                <!--Inicio del modal agregar/actualizar-->
                                    <div  class="permiso" :class="{'mostrar' : permiso}" style="overflow-y: auto;padding-top: 50px;">
                                        <div class="permiso-content" style="width: 552px !important; background: rgb(255, 255, 255) !important;border-radius: 11px;">
                                            <div class="modal-header">
                                               <label><h2>Dirección</h2></label> <br>
                                               <label>Ingrese su ubicación especifica</label>
                                            </div>
                                            <div class="modal-body" v-if="register_1==null">                                                
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>País</label>
                                                            <select class="form-control">
                                                                <option v-for="(value, index) in countries">
                                                                    {{ value }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label > Dirección </label>
                                                            <input type="text" v-model="direccion[1]" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label > Ciudad </label>
                                                            <input type="text" v-model="ciudad[1]" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label > Estado/Región/Provincia </label>
                                                            <input type="text" v-model="provincia[1]" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Código Postal</label>
                                                            <input type="text" v-model="postal_code" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>       
                                            <div class="modal-body" v-if="register_2">
                                                <GmapMap
                                                    :center="coordenadas"
                                                    :zoom="16"
                                                    style="height: 591px;width: 100%;"
                                                    icon="www.google.dk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">

                                                    <gmap-marker :position="{lat:coordenadas.lat, lng:coordenadas.lng}">
                                                    </gmap-marker>   
                                                </GmapMap>
                                            </div>     
                                            <div class="modal-footer" style="float:left;">
                                                <button type="button" v-if="register_1==null" @click="Proximo()"  style="background: rgba(14, 11, 11, 0.93);
                                                                                        color: rgb(243, 236, 236);
                                                                                        border: 1px solid #222121;
                                                                                        border-radius: 6px;
                                                                                        padding: 6px;">Próximo</button>
                                                <button type="button" v-if="register_1" @click="Cerrar()"  style="background: rgba(14, 11, 11, 0.93);
                                                                                        color: rgb(243, 236, 236);
                                                                                        border: 1px solid #222121;
                                                                                        border-radius: 6px;
                                                                                        padding: 6px;">Confirmar</button>
                                            </div>
                                        </div>
                                    </div>
                                <!--Fin del modal-->
                            
                            <div class="col-md-12" style="height: 520px;overflow: hidden;overflow-y: scroll;margin-top: 9%;">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" style="background: white;border: 1px white;">
                                            <h5 class="mb-0">
                                                <button style="font-size: 16px;color: black;" class="btn btn-link" data-toggle="collapse" data-target="#tu_carro" aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i> 
                                                    Tu Carro
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="tu_carro" class="collapse" :class="{ 'show' : div_carro==false }"  aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <label>¿Dónde está ubicado tu auto?</label><br>
                                                    <gmap-autocomplete
                                                        class="form-control my-0 py-1"
                                                        @place_changed="setPlace"
                                                        >
                                                    </gmap-autocomplete>
                                                </div>
                                                <div class="row" v-if="select_1">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">Year</label>
                                                            <select class="form-control" @change="onChangeMake($event)" v-model="year">
                                                                <option v-for="data in years" :value="data">{{ data }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                                <label for="">Make</label>
                                                                <select class="form-control" @change="onChangeModel($event)" :disabled="listmake.length==0" v-model="make" >
                                                                    <option v-for="data in listmake" :value="data.id">{{ data.name }}</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                                <label for="">Model</label>
                                                                <select class="form-control" @change="onChangeOdometers($event)" :disabled="listmodel.length==0" v-model="model">
                                                                    <option v-for="data in listmodel" :value="data.id">{{ data.name }}</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                                <label for="">Odometers</label>
                                                                <select class="form-control"  :disabled="odometers.length==0" v-model="odometer">
                                                                    <option v-for="data in odometers" :value="data.id">{{ data.name }}</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>                                       
                                            </div>
                                            <div class="card-body" v-if="listmodel.length!=0">
                                                <div class="row">
                                                    <label for="">Transmission</label>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="radio" id="uno" value="automatic" v-model="picked">
                                                        <label for="uno">Automatic</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="radio" id="dos" value="manual" v-model="picked">
                                                        <label for="dos">Manual</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">Vehicle type</label>
                                                            <select class="form-control" v-model="vehicles_type">
                                                                <option v-for="data in vehicle_types" :value="data.id">{{ data.name }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">Market value (USD)</label>
                                                            <select class="form-control" v-model="vehicles_maker_value">
                                                                <option v-for="data in market_values" :value="data.id">{{ data.name }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <button class="btn btn-primary" @click="Perfil()">
                                                            Próximo
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <!--  <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" style="background: white;border: 1px white;">
                                            <h5 class="mb-0">
                                                <button style="font-size: 16px;color: rgb(0 0 0 / 53%);"  class="btn btn-link" data-toggle="collapse" data-target="#foto_perfil" aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i> Foto de perfil
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="foto_perfil" class="collapse" :class="{ 'show' : div_perfil==false }" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <figure>
														<figcaption 
														style="padding: 56px !important;
                                                               background: rgba(158, 151, 151, 0.6) !important;
                                                               border-radius: 247px !important;">
                                                                <input type="file" ref="photo_profile" 
																@change="Logo($event)" style="display:none;">
																<i class="fa fa-user" @click="Input" style="font-size: 57px !important;"></i>
														</figcaption>
													</figure>
                                                </div>
                                                <div class="row">
                                                    <button class="btn btn-primary" @click="Telefono()">
                                                        Próximo
                                                    </button>
                                                </div>
                                                    
                                            </div>
                                        </div>
                                    </div>                                    
                                </div> -->
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" style="background: white;border: 1px white;">
                                        <h5 class="mb-0">
                                            <button style="font-size: 16px;color: rgb(0 0 0 / 53%);"  class="btn btn-link" data-toggle="collapse" data-target="#numero_telefono" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i> Número de teléfono del movil
                                            </button>
                                        </h5>
                                        </div>

                                        <div id="numero_telefono" class="collapse" :class="{ 'show' : div_telefono==false }" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" v-model="vehicles_number" placeholder="Digita tu numero de telefono">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" style="background: white;border: 1px white;">
                                        <h5 class="mb-0">
                                            <button style="font-size: 16px;color: rgb(0 0 0 / 53%);"  class="btn btn-link" data-toggle="collapse" data-target="#licencia_conducir" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i> Licencia de conducir
                                            </button>
                                        </h5>
                                        </div>

                                        <div id="licencia_conducir" class="collapse" :class="{ 'show' : div_licencia==false }" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <input type="file" ref="vehicles_licencia" class="form-control">
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" style="background: white;border: 1px white;">
                                        <h5 class="mb-0">
                                            <button style="font-size: 16px;color: rgb(0 0 0 / 53%);"  class="btn btn-link" data-toggle="collapse" data-target="#tus_metas" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i> Tus metas
                                            </button>
                                        </h5>
                                        </div>

                                        <div id="tus_metas" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <textarea name="" id="" cols="30" rows="10" v-model="vehicles_metas"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" style="background: white;border: 1px white;">
                                        <h5 class="mb-0">
                                            <button style="font-size: 16px;color: rgb(0 0 0 / 53%);"  class="btn btn-link" data-toggle="collapse" data-target="#disponibilidad_coche" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i> Disponibilidad del coche
                                            </button>
                                        </h5>
                                        </div>

                                        <div id="disponibilidad_coche" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="radio" id="uno" :value="date.getDate()+'-'+date.getMonth()+'-'+date.getFullYear()" v-model="disponibilidad">
                                                        <label for="uno">Inmediata</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="radio" id="dos" value="Dos" v-model="disponibilidad">
                                                        <label for="dos">Fecha disponible</label>
                                                    </div>
                                                    <div class="col-md-4" v-if="disponibilidad=='Dos'">
                                                        <input type="date" class="form-control" v-model="disponibilidad">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <button class="btn btn-primary">Próximo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" style="background: white;border: 1px white;">
                                        <h5 class="mb-0">
                                            <button style="font-size: 16px;color: rgb(0 0 0 / 53%);"  class="btn btn-link" data-toggle="collapse" data-target="#detalles_coche" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i> Detalles del coche
                                            </button>
                                        </h5>
                                        </div>

                                        <div id="detalles_coche" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <textarea name="" id="" cols="30" rows="10" class="form-control" v-model="vehicles_detalles"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <button class="btn btn-primary">
                                                        Próximo
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" style="background: white;border: 1px white;">
                                        <h5 class="mb-0">
                                            <button style="font-size: 16px;color: rgb(0 0 0 / 53%);"  class="btn btn-link" data-toggle="collapse" data-target="#fotos_coche" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i> Fotos del coche
                                            </button>
                                        </h5>
                                        </div>

                                        <div id="fotos_coche" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <vue2Dropzone ref="collection_img_vehicles_url" id="dropzone"
                                                                v-on:vdropzone-max-files-exceeded="maxFilesAlert"
                                                                :options="dropzoneOptions">
                                                        </vue2Dropzone>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne" style="background: white;border: 1px white;">
                                        <h5 class="mb-0">
                                            <button style="font-size: 16px;color: rgb(0 0 0 / 53%);"  class="btn btn-link" data-toggle="collapse" data-target="#seguridad_calidad" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fa fa-angle-down" aria-hidden="true"></i> Estándares de seguridad y calidad
                                            </button>
                                        </h5>
                                        </div>

                                        <div id="seguridad_calidad" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                
                            </div>
                            <div class="col-md-12" style="margin-top:5%;">
                                    <div style="border-top: 1px solid #aaa5a5;
                                                height: 2px;
                                                max-width: 100%;
                                                padding: 0px;
                                                margin: 20px auto 0px;"></div>
                                </div>
                                <div class="col-md-12" style="margin-top:1%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                    <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" @click="PostVehicles()">
                                        Siguiente
                                    </button >
                                </div>


                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
import VueGoogleAutocomplete from 'vue-google-autocomplete';
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {

    components:{
        VueGoogleAutocomplete, 
        vue2Dropzone       
    },

    data:function(){
        return {
            div_carro:false,
            div_perfil:true,
            div_telefono:true,
            div_licencia:true,
            coordenadas:{ lat:0 ,  lng:0 },
            currentePlace:'',
            permiso:0,
            countries:[],
            register_1:null,
            register_2:'',    
            select_1:null,        
            postal_code:'',            
            direccion:'',
            ciudad:'',
            provincia:'',
            year:'',
            make:'',
            model:'',
            odometer:'',
            vehicles_lat:'',
            vehicles_lng:'',
            vehicles_type:'',
            vehicles_maker_value:'',
            vehicles_number:'',
            vehicles_metas:'',
            vehicles_detalles:'',
            makes:[
                {
                    id:1,
                    name: "Abarth",
                    año:2002
                },
                {
                    id:2,
                    name: "Acura",
                    año:2000
                },
                {
                    id:3,
                    name: "Alpine",
                    año:2000
                },
                {
                    id:4,
                    name: "BMW",
                    año:2001
                },
                {
                    id:5,
                    name: "Borgward",
                    año:2000
                },
                {
                    id:6,
                    name: "Audi",
                    año:2002
                },
            ],
            listmake:[],
            models:[
                {
                    id:1,
                    name:"Century",
                    makes_id:1
                },
                {
                    id:2,
                    name:"Century",
                    makes_id:5
                },
                {
                    id:3,
                    name:"Century",
                    makes_id:1
                },
                {
                    id:4,
                    name:"Century",
                    makes_id:1
                },
                {
                    id:5,
                    name:"Century",
                    makes_id:5
                },
                {
                    id:6,
                    name:"Century",
                    makes_id:1
                },
                {
                    id:7,
                    name:"Century",
                    makes_id:5
                },
            ],
            listmodel:[],
            odometers:[],
            picked:'',
            vehicle_types:[
                {
                    id:1,
                    name:"Car"
                },
                {
                    id:2,
                    name:"SUV"
                },
                {
                    id:3,
                    name:"Minivan"
                },
                {
                    id:4,
                    name:"Truck"
                },
                {
                    id:5,
                    name:"Van"
                },
            ],
            market_values:[
                    {
                        id:1,
                        name:"US$0-US$5.000"
                    },
                    {
                        id:2,
                        name:"US$5.000-US$10.000"
                    },
                    {
                        id:3,
                        name:"US$10.000-US$15.000"
                    },
                    {
                        id:4,
                        name:"US$15.000-US$20.000"
                    },
                    {
                        id:5,
                        name:"US$20.000-US$25.000"
                    },
            ],
            photo_profile:'',
            disponibilidad:'',
            date: new Date(),
            dropzoneOptions: {
                        url: 'empresa/producto',
                        thumbnailWidth: 150,
                        maxFilesize: 1.5,
                        addRemoveLinks : true,
                        autoProcessQueue:false,
                        headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
                        maxFiles:6,
                        uploadMultiple: true,
            },
        }
    },

    computed : {
		years () {
			const year = new Date().getFullYear()
			return Array.from({length: year - 1900}, (value, index) => 1901 + index)
		},
	},

    methods:{

            maxFilesAlert(file){
                Swal.fire({
                    title: 'No permitido',
                    text: 'Solo se permiten 6 archivos',
                    type: 'error',
                    confirmButtonText: 'OK'
                })
               this.$refs.images_auto.removeFile(file);
            },

            onChangeMake(event){
                let me = this;
                var changeYear= event.target.value;
                console.log(changeYear);
                let newarray = this.makes.filter(element => element.año == changeYear);
                this.listmake = newarray;
                console.log(newarray);
            },

            onChangeModel(event){
                let me = this;
                var changeModel= event.target.value;
                console.log(changeModel);
                let newarray = this.models.filter(element => element.makes_id == changeModel);
                this.listmodel = newarray;  
                console.log(newarray); 
            },

            onChangeOdometers(event){
                let me = this;
                var changeModel= event.target.value;
                console.log(changeModel);
                this.odometers = [
                    {
                        id:1,
                        name:"0-20k kilometros"
                    },
                    {
                        id:2,
                        name:"20-40k kilometros"
                    },
                    {
                        id:3,
                        name:"40-60k kilometros"
                    },
                    {
                        id:4,
                        name:"60-80k kilometros"
                    },
                    {
                        id:5,
                        name:"80-100k kilometros"
                    },
                ]
            },

            Proximo(){  
                this.register_1=1;
                this.register_2=1;
            },

            Cerrar(){
                this.permiso=0;
                this.select_1=1;
            },

            Input(){
            	$("input[type='file']").trigger('click');
            },

            Logo(e){
            	let me = this;
                var data = new FormData()

                var img=data.append("photo_profile", me.$refs.photo_profile.files[0])
                axios.post('upload_logo', data).then(function (response) {
                	Swal.fire({
                      title: response.data.message,
                      text: 'Logo subido exitosamente!!',
                      type: 'success',
                      confirmButtonText: 'OK'
                    });
                    me.$refs.photo_profile.value='';
                }).catch(function (error) {
                    console.log(error);
                });
            },

            setPlace(place) {
                this.currentePlace = place;

                var address = this.currentePlace.adr_address;
                var locality = address.split(',');
                var address = locality[0].split('</span>');
                var city = locality[1].split('</span>');
                this.direccion = address[0].split('<span class=\"street-address\">');
                this.ciudad = city[0].split('<span class=\"locality\">');
                this.provincia = city[0].split('<span class=\"locality\">');
                this.vehicles_lat = place.geometry.location.lat();
                this.vehicles_lng = place.geometry.location.lng();
                this.coordenadas = { lat: this.vehicles_lat,  lng: this.vehicles_lng };                
                this.permiso=1;                
            },   

            Telefono(){
                this.div_perfil=true;
                this.div_telefono=false;
            },
            
            DataCountry(){
                let me = this;		
                axios.get('/renters/data_country').then(function(response){
                    me.countries = response.data;
                    console.log(me.countries);
                });
            },


            PostVehicles(){
                let me = this;	
                this.$refs.collection_img_vehicles_url.processQueue();
                let images  = this.$refs.collection_img_vehicles_url.getAcceptedFiles();
                let  data = new FormData()

                for( let i = 0; i < images.length; i++ ){
                    let file = images[i];
                    data.append('collection_img_vehicles_url[' + i + ']', file);
                }   

                data.append("vehicles_licencia", me.$refs.vehicles_licencia.files[0]);
                data.append('vehicles_lat',  me.vehicles_lat);
                data.append('vehicles_lng',  me.vehicles_lng);
                data.append('vehicles_year',  me.year);
                data.append('vehicles_make',  me.make);
                data.append('vehicles_model',  me.model);
                data.append('vehicles_odometers',  me.odometer);
                data.append('vehicles_transmission',  me.picked);
                data.append('vehicles_type',  me.vehicles_type);
                data.append('vehicles_maker_value',  me.vehicles_maker_value);
                data.append('vehicles_number',  me.vehicles_number);
                data.append('vehicles_licencia',  me.vehicles_licencia);
                data.append('vehicles_metas',  me.vehicles_metas);
                data.append('vehicles_disponibilidad',  me.disponibilidad);
                data.append('vehicles_detalles',  me.vehicles_detalles);

                axios.post('/vehicles/register', data,{ headers: {'Content-Type': 'multipart/form-data'}})
                .then(response=> {
                        if (response.data.status==='success') {
                            Swal.fire({
                              title: response.data.message,
                              text: 'Fotos Subidas',
                              type: 'success',
                              confirmButtonText: 'OK'
                            });

                            localStorage.inmuebles_id = response.data.inmuebles_id;
                        }else{
                            Swal.fire({
                              title: response.data.message,
                              text: 'Error al registrar inmueble',
                              type: 'success',
                              confirmButtonText: 'OK'
                            })
                        };
                });
            }
    },

    mounted() {
        let self = this         
        self.DataCountry();
    }
}
</script>

<style>
  
    .permiso.mostrar {
        background-color: rgb(0 0 0 / 0%);
        opacity: 1;
        visibility: visible;
    }
    .permiso {
        align-items: flex-start;
        background-color: #fff;
        display: flex !important;
        height: 82vh;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        visibility: hidden;
        width: 50%;
        transition: all 0.40s cubic-bezier(0.39, 0.575, 0.565, 1);
        z-index: 5000;
        left: 50%;
      }

      .permiso.mostrar .permiso-content {
          opacity: 1;
          transform: scale(1.1);
          visibility: visible;
      }
      .permiso .permiso-content {
          background-color: #fff;
          border-radius: 3px;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          margin-top: 50px;
          opacity: 0;
          padding: 12px;
          transform: scale(1);
          transition: all .40s cubic-bezier(0.39, 0.575, 0.565, 1);
          visibility: hidden;
      }


</style>
