<template>
    <div>
        <section class="hero-banner magic-ball home">
            <div class="main-banner">  
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="front/images/banners/banner_1628956370.jpg" alt="First slide">
                            <div class="carousel-caption "> 
                                    <div class="sv_home_subsec text-center" style="margin-top: 25px !important;">
                                        <div class="row mt-3">
                                            <div class="col-md-6 ">
                                                <div class="card h-100 card-shadow card-1" style="background-color: #fff0;" @click="CardSearch(data_category[2].category_id)">
                                                    <div class="dfondo">
                                                        <div class="dtexto">
                                                                Tecnologia
                                                        </div>
                                                        <a aria-label="Island">
                                                            <figure class="">
                                                                <img src="images/tecnologia.jpg" class="room-image-container200" alt="Island" style="height: 21rem !important;width: 35rem !important;"/>
                                                                <figcaption>
                                                                </figcaption>     
                                                            </figure>        
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="card h-100 card-shadow card-1" style="background-color: #fff0;" @click="CardSearch(data_category[0].category_id)">
                                                    <div class="dfondo">
                                                        <div class="dtexto">
                                                                Inmuebles
                                                        </div>
                                                        <a aria-label="Island">
                                                            <figure class="">
                                                                <img src="images/inmuebles.jpg" class="room-image-container200" alt="Island" style="height: 21rem !important;width: 35rem !important;"/>
                                                                <figcaption>
                                                                </figcaption>     
                                                            </figure>        
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="card h-100 card-shadow card-1" style="background-color: #fff0;" @click="CardSearch(data_category[1].category_id)">
                                                    <div class="dfondo">
                                                        <div class="dtexto">
                                                                Vehículos
                                                        </div>
                                                        <a aria-label="Island">
                                                            <figure class="">
                                                                <img src="images/vehiculos.jpg" class="room-image-container200" alt="Island" style="height: 21rem !important;width: 35rem !important;"/>
                                                                <figcaption>
                                                                </figcaption>     
                                                            </figure>        
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="card h-100 card-shadow card-1" style="background-color: #fff0;" @click="CardSearch(data_category[3].category_id)">
                                                    <div class="dfondo">
                                                        <div class="dtexto">
                                                                Servicios
                                                        </div>
                                                        <a aria-label="Island">
                                                            <figure class="">
                                                                <img src="images/servicios.jpg" class="room-image-container200" alt="Island" style="height: 21rem !important;width: 35rem !important;"/>
                                                                <figcaption>
                                                                </figcaption>     
                                                            </figure>        
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="recommandedbg bg-gray mt-4 magic-ball magic-ball-about pb-5">
            <div class="container-fluid container-fluid-90">
                <div class="row" style="margin-top:70px;" v-if="inmuebles.length">
                    <div class="recommandedhead col-md-12">
                        <div id="front-search-form" style="border: 1px solid #cfc9c9;
                                                                                    border-radius: 41px;
                                                                                    padding: 6px;
                                                                                    box-shadow: 2px 4px 5px 5px #cfcccc;">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Ubicación</label>
                                    <gmap-autocomplete
                                        class="form-control my-0 py-1"
                                        @place_changed="setPlace"
                                        placeholder="¿A dónde vas?">
                                    </gmap-autocomplete>
                                </div>
                                <div class="col-md-3">
                                    <label>Llegada</label>
                                    <input class="form-control p-3 text-14" id="front-search-field" type="date" v-model="reserva_llegada">
                                </div>
                                <div class="col-md-3">
                                    <label>Salida</label>
                                    <input class="form-control p-3 text-14" id="front-search-field" type="date" v-model="reserva_salida">
                                </div>
                                <div class="col-md-2">
                                    <label>Huéspedes</label>
                                    <input class="form-control p-3 text-14" id="front-search-field" placeholder="¿Cuántos?" type="text" @click="contador()">
                                </div>
                                <div class="col-md-6" v-show="huesp" style="position: absolute;
                                                                            left: 68%;
                                                                            margin-top: 86px;
                                                                            width: 47%;">
                                        <div class="row">
                                            <div class="col-md-4" style="font-size: 30px !important;line-height: 35px !important;">Adultos</div>
                                            <div class="col-md-3">
                                                <button type="button" @click="IncrementAdultos()" style="padding: 4px;
                                                                                                        border: 1px solid #796f6f;
                                                                                                        border-radius: 69px;
                                                                                                        width: 35px;
                                                                                                        margin: 7px;"
                                                                                                        >+</button> 
                                                    {{ adultos }} 
                                                <button type="button" @click="DecrementAdultos()" style="padding: 4px;
                                                                                                        border: 1px solid #796f6f;
                                                                                                        border-radius: 69px;
                                                                                                        width: 35px;
                                                                                                        margin: 7px;"
                                                                                                        :disabled="adultos==0">-</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" style="font-size: 30px !important;line-height: 35px !important;">Niños</div>
                                            <div class="col-md-3">
                                                <button type="button" @click="IncrementNiños()" style="padding: 4px;
                                                                                                        border: 1px solid #796f6f;
                                                                                                        border-radius: 69px;
                                                                                                        width: 35px;
                                                                                                        margin: 7px;"
                                                                                                        >+</button> 
                                                    {{ niños }} 
                                                <button type="button" @click="DecrementNiños()" style="padding: 4px;
                                                                                                        border: 1px solid #796f6f;
                                                                                                        border-radius: 69px;
                                                                                                        width: 35px;
                                                                                                        margin: 7px;"
                                                                                                        :disabled="niños==0">-</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" style="font-size: 30px !important;line-height: 35px !important;">Bebés</div>
                                            <div class="col-md-3">
                                                <button type="button" @click="IncrementBebes()" style="padding: 4px;
                                                                                                        border: 1px solid #796f6f;
                                                                                                        border-radius: 69px;
                                                                                                        width: 35px;
                                                                                                        margin: 7px;"
                                                                                                        >+</button> 
                                                    {{ bebes }} 
                                                <button type="button" @click="DecrementBebes()" style="padding: 4px;
                                                                                                        border: 1px solid #796f6f;
                                                                                                        border-radius: 69px;
                                                                                                        width: 35px;
                                                                                                        margin: 7px;"
                                                                                                        :disabled="bebes==0">-</button>
                                            </div>
                                        </div>
                                </div>

                                <div class="col-md-1 front-search mt-2 border-right-0 d-none d-sm-block">
                                    <button type="submit" class="btn vbtn-default btn-block p-3 text-16" @click="SearchInmueble()"><i class="fa fa-search"></i></button>
                                </div>
                                <div class="col-12 d-block d-sm-none front-search mt-2">
                                    <button type="submit" class="btn vbtn-default btn-block p-3 text-16" ><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" style="margin-top:50px !important;">
                    <div class="col-md-6 col-lg-4 col-xl-3 pl-3 pr-3 pb-3 mt-4" v-for="data in renters.inmuebles" >
                        <div class="card h-100 card-shadow card-1">
                            <div class="">
                                <a href="#">
                                    <figure class="">
                                        <img :src="'images_inmuebles/'+data.img_inmuebles[0].collection_img_inmuebles_url" class="room-image-container200" alt="Island"/>
                                        <figcaption>
                                        </figcaption>     
                                    </figure>        
                                </a>
                                <div class="wishicon svwishlist47">
                                    <i class="icon icon-heart-alt b-login" id="wishlistid47" ></i>
                                </div>
                            </div>

                                <div class="card-body p-0 pl-1 pr-1">
                                    <div class="d-flex">
                                        <div class="text">
                                            <a class="text-color text-color-hover">
                                                <p class="text-14 font-weight-700 text margin-bottom-zero"> {{ data.inmuebles_name }} </p>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    
                                    <div>
                                        <ul class="list-inline">
                                            <li class="list-inline-item text-dark">
                                                <div class="vtooltip">
                                                    <span class="text-13 text-muted">{{ data.inmuebles_huespedes }}  Huéspedes</span>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="vtooltip">
                                                    <span class="text-13 text-muted">{{ data.inmuebles_habitaciones }} Habitaciones</span>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="vtooltip"> 
                                                    <span class="text-13 text-muted">{{ data.inmuebles_cama }} Cámas</span>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="vtooltip"> 
                                                    <span class="text-13 text-muted">{{ data.inmuebles_baños }} Baños</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="review-0">
                                        <div class="d-flex justify-content-between">
                                            
                                            <div>
                                                <p class="text-13 mt-2 mb-0 text"><i class="fas fa-map-marker-alt"></i> {{ data.inmuebles_city }}</p>
                                            </div>
                                            
                                            <div>
                                                <span>
                                                    <star-rating 
														v-model="ratingstar"
														:star-size="21"
														:show-rating="false"
														active-color="#ffee07">	
													</star-rating>
                                                </span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="svred text-14">
                                        <span class="font-weight-700"> </span>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 pl-3 pr-3 pb-3 mt-4" v-for="data in renters.vehiculos">
                        <div class="card h-100 card-shadow card-1">
                            <div class="">
                                
                                    <figure class="">
                                        <img :src="'images_vehiculo/'+data.img_vehicles[0].collection_img_vehicles_url" class="room-image-container200" alt="Island"/>
                                        <figcaption>
                                        </figcaption>     
                                    </figure>        
                                
                                <div class="wishicon svwishlist47">
                                    <i class="icon icon-heart-alt b-login" id="wishlistid47" ></i>
                                </div>
                            </div>

                                <div class="card-body p-0 pl-1 pr-1">
                                    <div class="d-flex">
                                        <div class="text">
                                            <a class="text-color text-color-hover">
                                                <p class="text-14 font-weight-700 text margin-bottom-zero"> {{ data.vehicles_make }} </p>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    
                                    <div>
                                        <ul class="list-inline">
                                            <li class="list-inline-item text-dark" v-if="data.vehicles_disponibilidad < date">
                                                <div class="vtooltip">
                                                    <span class="text-13 text-muted">disponibilidad : Inmediata </span>
                                                </div>
                                            </li>
                                            <li class="list-inline-item text-dark" v-else>
                                                <div class="vtooltip">
                                                    <span class="text-13 text-muted">disponibilidad : {{ data.vehicles_disponibilidad }} </span>
                                                </div>
                                            </li>

                                            <li class="list-inline-item">
                                                <div class="vtooltip">
                                                    <span class="text-13 text-muted">Precio : $ {{data.vehicles_maker_value}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="review-0">
                                        <div class="d-flex justify-content-between">
                                                                                        
                                            <div>
                                                <span>
                                                    <star-rating 
														v-model="ratingstar"
														:star-size="21"
														:show-rating="false"
														active-color="#ffee07">	
													</star-rating>
                                                </span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="svred text-14">
                                        <span class="font-weight-700"> </span>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</template>

<script>

    import VueGoogleAutocomplete from 'vue-google-autocomplete';
    import StarRating from "vue-star-rating";

    export default {

        components: {
            StarRating,
            VueGoogleAutocomplete,
        },
        data:function(){
            return{
                data_category:[],
                renters:[],
                ratingstar:0,
                inmuebles:[],
                coordenadas:{ lat:0 ,  lng:0 },
                currentePlace:'',
                adultos:0, 
                niños:0, 
                bebes:0,
                huesp:false,
                hotel_lat:'',
                hotel_lng:'',
                reserva_llegada:'',
                reserva_salida:'',
                reservas_huespedes:'',
                
                date: '',
            }
        },

        methods:{

            GetCategorias(){
                let me = this;		
                axios.get('/category').then(function(response){
                    me.data_category = response.data;
                });
            },

            setPlace(place) {
                this.currentePlace = place;

                var address = this.currentePlace.geometry.location;
                console.log(address.lat(), address.lng());
                this.hotel_lat = address.lat();
                this.hotel_lng = address.lng();                
            }, 

            contador(){
                this.huesp = true;
            },

            DataRenter(){
                let me = this;		
                axios.get('/get_renters').then(function(response){
                    me.renters = response.data;
                });
            },

            CardSearch(category_id){
                let me = this;		
                axios.post('/search_category',{ 'category_id':category_id }).then(function(response){
                    if (response.data.status=='error') {
                         Swal.fire({
                              title: response.data.message,
                              type: 'success',
                              confirmButtonText: 'OK'
                        });                       
                    }else{
                        me.inmuebles = response.data;
                    }
                    
                });
            },

            SearchInmueble(){
                let me = this;		
                axios.post('/search_inmueble',{ 
                    'hotel_lat': me.hotel_lat,
                    'hotel_lng': me.hotel_lng,
                    'reserva_llegada': me.reserva_llegada,
                    'reserva_salida': me.reserva_salida,
                    'reservas_huespedes': this.adultos+this.niños+this.bebes,
                }).then(function(response){
                    if (response.data.status=='error') {
                         Swal.fire({
                              title: response.data.message,
                              type: 'success',
                              confirmButtonText: 'OK'
                        });
                       
                    }else{
                        me.hotels = response.data;
                    }
                    
                });
            },

            IncrementAdultos(){
                this.adultos = this.adultos + 1;
                console.log(this.adultos);
            },

            DecrementAdultos(){
                this.adultos = this.adultos - 1;
            },

            IncrementNiños(){
                this.niños = this.niños + 1;
            },

            DecrementNiños(){
                this.niños = this.niños - 1;
            },

            IncrementBebes(){
                this.bebes = this.bebes + 1;
            },

            DecrementBebes(){
                this.bebes = this.bebes - 1;
            },


        },

        mounted() {
            let self = this;
            var fecha = new Date();
            self.DataRenter();
            self.GetCategorias();
            self.date=fecha.getDate()+'-'+fecha.getMonth()+'-'+fecha.getFullYear();
        }
    }
</script>

<style >
    .dfondo {
        opacity: 0.8;
    }
    
    .dtexto {
        width: 200px;
        height: 200px;
        background-color: #ffffff00;
        position: absolute;
        z-index: 9999;
        right: 154px;
        font-size: 33px;
        margin-top: 65px;
    }
</style>